@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
*{
    font-family: "pretendard";
    scroll-behavior: smooth;
}

header{
    --mg: 10%;
    position: fixed;
    width: 100%;
    display: block;
    height: 60px;
    background-color: #ffffff72;
    backdrop-filter: blur(10px);
    z-index: 100;
}
header > img{
    width: 70px;
    margin-top: 1px;
    margin-left: var(--mg);
    float: left;
}
header > nav{
    display: flex;
    gap: 80px;
    /* gap: 20%; */
    margin-right: var(--mg);
    margin-top: 20px;
    float: right;
}

header > label{
    display: none;
    gap: 4px;
    flex-direction: column;
    margin-right: var(--mg);
    margin-top: 20px;
    float: right;
}

header > input{
    display: none;
}

header > div{
    display: none;
}


span{
    background-color: #0F1F6C;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    transition: all .5s;
}

header > input:checked ~ label > span:nth-child(1){
    transform: rotate(45deg) translateY(7px) translateX(4px)
}
header > input:checked ~ label > span:nth-child(2){
    transform: rotate(10deg) translateY(10px);
    opacity: 0;
}
header > input:checked ~ label > span:nth-child(3){
    transform: rotate(-45deg) translateY(-7px) translateX(4px)
}

header > nav > a{
    color: #0F1F6C;
    text-decoration: none;
}
header > nav > a:hover{
    color: #5a66a7;
    transition: all .5s;
}
.wave{
    transform: translateY(400px);
    /* transition-timing-function: cubic-bezier(0, 0.61, 0.21, 5); */
    transition: all .5s;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}


.vector{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transition: all .5s;
    opacity: 0;
    transform: translateY(-400px);
}
.vector2{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    transform: translateX(400px);
    transition: all .5s;
}
.char{
    position: absolute;
    transition: all .5s;
    opacity: 0;
    transform: translateX(20px);
}

.char.one{
    width: 20%;
    right: 30%;
    bottom: 8%;
}


.char.two{
    z-index: 1;
    width: 20%;
    bottom: 10%;
    left: 30%;
}


body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#home{
    display: flex;
    align-items: center;
}

h1{
    color: #0F1F6C;
    font-size: 3.5em;
}

#home h1{
    position: absolute;
    right: 53%;
    top: 35%;
    text-align: left;
    opacity: 0;
    transition: all .5s;
    transform: translateY(-20px);
}

.fp-tooltip > ul{
    /* right: 0; */
    /* left: 17px;  */
    background-color: red;
}
#info > h1{
    margin: 0;

    
    transition: all .5s;
    opacity: 0;
    transform: translateX(20px);
}

#info{
    display: flex;
    gap: 12px;
    flex-direction: column;
    position: absolute;
    text-align: left;
    top: 32%;
    right: 20%;
}

#info > section{
    color: #7982AD;
    transition: all .5s;
    opacity: 0;
    transform: translateX(20px);
}

#skills{
    display: flex;
    gap: -20%;
}

.skill{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #7982AD;
    opacity: 0;
    transition: all .5s;
    transform: translateY(-20px);

}

.skill > img{
    width: 60%;
}

.work{
    background-color: #FAFBFD;
    transition: transform .7s;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    border: solid #7982AD4D 1px;
    width: 620px;
    height: 380px;
    border-radius: 15px;

    transform: translateY(-400px);
    z-index: 0;
}

.work.active{
    border: solid #3D74E0 5px;
}


.work > img{
    /* width: 100%; */
    width: 620px;

    cursor: pointer;
}

#works-ul{
    position: relative;
    display: flex;
    gap: 248px;
    overflow: hidden;
    padding: 0;
}

#works{
    display: flex;
    justify-content: center;
    align-items: right;
    text-align: left;
}

#works section{
    margin-left: 30%;
}

#works  h1{
    transform: translateX(-20px);
    opacity: 0;
    transition: all .5s;
}

#items{
    display: flex;
    gap: 35px;
    align-items: center;
    width: 40%;
    overflow-x: hidden;
    white-space: nowrap
}

.item{
    font-size: 20px;
    color: #7982AD;
    font-weight: 200;
    opacity: 0;
    transition: all .5s;
    transform: translateX(20px);
}

.item.active{
    content: '';
    text-decoration: underline #3D74E0 2px;
    color: #3D74E0;
    font-weight: 900;
}



#arrows{
    position: absolute;
    left: 55%;
    z-index: 10;
    background-color: #FAFBFD;
    cursor: pointer;
    flex: 100px;
}

#arrows img:hover{
    transition: all .5s;
    content: url(img/arrow_hover.svg);
}


#arrows::before{
    content: '';
    position: absolute;
    text-align: right;
    background: #FAFBFD;
}
#arrows > img{
    transition: all .5s;
    opacity: 0;
    margin-right: 10px;
}




#contact p{
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    color: #4498ff;
}

.vector3{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    transition: all .5s;

    transform: translateY(500px);
}

#des{
    color: #7982AD;

    transition: all .5s;
    opacity: 0;
    transform: translateY(-10px);
    word-break: break-all;
    margin-right: 50px;
}
#contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact article{
    position: relative;
    z-index: 999;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background: #F6F9FC;
    border-radius: 8px;
    padding: 100px;
    border: 1px #ddd solid;
}

#contact article>a {
    background-color: #B4C9F3;
    color: #7982AD;
    padding: 16px 48px;
    border-radius: 5px;
    text-decoration: none;
}

#contact article>a:hover {
    background-color: #3D74E0;
    color: #ffffff;
    transition: all .5s;
}

#contact{
    --right: 10%;
}

#contact h1{
    position: absolute;
    right: var(--right);
    bottom: 50%;
    margin-bottom: 50px;

    transition: all .5s;
    transform: translateX(-20px);
    opacity: 0;
}

#contact #line{
    
    position: absolute;
    right: var(--right);
    bottom: 50%;
    background: linear-gradient(270deg, #7982AD 0%, #B4C9F3 100%);
    margin-bottom: 50px;
    height: 5px;
    border-radius: 10px;
    transition: all .5s;

}

#contact h2{
    position: absolute;
    color: #0F1F6C;
    font-weight: 200;
    right: var(--right);
    bottom: 50%;

    transition: all .5s;
    transform: translateX(20px);
    opacity: 0;
}

#arrows > img{
    width: 40px;
}


@media (max-width: 1250px) {
    #fp-nav{
        display: none;
    }

    header > nav{
        display: none;
    }

    header > label{ display: flex }

    header > input:checked ~ div{
        position: absolute;
        border-radius: 0 10px 10px 10px;
        display: flex;
        gap: 10px
        ;
        right: 10px;
        top: 89px;
        padding: 10px;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 10px #ddd;

    }

    header > div > a{
        color: #0F1F6C;
        text-decoration: none;
    }

}


@media (max-width: 450px) {
    .char.one{
        width: 100%;

        right: 0;
        bottom: 0%;
    }

    
    #home h1{
        top: 8%;
        left: 5%;
        width: 300px;
        font-size: 45px;
    }

    #profile article{
        top: 30%;
        left: 5%;
        width: 300px;
    }

    #profile section{
        margin-top: 20px;
    }


    .char.two{
        display: none;
    }

    #works section{
        position: absolute;
        top: 12%;
        margin-left: 5%;
    }

    /* #works-ul > li{
        width: 10px;
    } */

    .work{
        width: 310px;
        height: 190px;
        > img {
            width: 310px;
        }
    }

    #items{
        gap: 5px;
        width: 7%;
    }

    #arrows{
        left: 7%;
        background: none;
    }

    #arrows > img{
        width: 30px;
    }
    #arrows::before{
        content: '';
        transform: translateY(-20px);
    }


    .vector{
        top: 80px;
    }

    .vector2{
        right: -100px;
    }

    
    #contact h1{
        font-size: 40px;
        top: 9%;
        left: -20%;
    }
    #line{
        top: 19%;
        left: 0%;
        right: none;
        margin-right: 100px;
    }

    #contact h2{
        font-size: 15px;
        top: 18%;
        left: -10%;
    }
}
