@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
*{
    font-family: "pretendard";
    scroll-behavior: smooth;
}

header{
    --mg: 10%;
    position: fixed;
    width: 100%;
    display: block;
    height: 79px;
    background-color: #ffffff72;
    backdrop-filter: blur(10px);
    z-index: 100;
}
header > img{
    width: 79px;
    margin-top: 8px;
    margin-left: var(--mg);
    float: left;
}
header > nav{
    display: flex;
    gap: 80px;
    /* gap: 20%; */
    margin-right: var(--mg);
    margin-top: 29px;
    float: right;
}

header > nav > a{
    color: #0F1F6C;
    text-decoration: none;
}
.wave{
    transform: translateY(400px);
    /* transition-timing-function: cubic-bezier(0, 0.61, 0.21, 5); */
    transition: all .5s;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}


.vector{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transition: all .5s;
    opacity: 0;
    transform: translateY(-400px);
}
.vector2{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    transform: translateX(400px);
    transition: all .5s;
}
.char{
    position: absolute;
    transition: all .5s;
    opacity: 0;
    transform: translateX(20px);
}

.char.one{
    width: 20%;
    right: 30%;
    bottom: 8%;
}


.char.two{
    z-index: 1;
    width: 20%;
    bottom: 10%;
    left: 30%;
}

#home{
    display: flex;
    align-items: center;
}

h1{
    color: #0F1F6C;
    font-size: 3.5em;
}

#home h1{
    position: absolute;
    right: 53%;
    top: 35%;
    text-align: left;
    opacity: 0;
    transition: all .5s;
    transform: translateY(-20px);
}

.fp-tooltip > ul{
    /* right: 0; */
    /* left: 17px;  */
    background-color: red;
}
#info > h1{
    margin: 0;

    
    transition: all .5s;
    opacity: 0;
    transform: translateX(20px);
}

#info{
    display: flex;
    gap: 12px;
    flex-direction: column;
    position: absolute;
    text-align: left;
    top: 32%;
    right: 20%;
}

#info > section{
    color: #7982AD;
    transition: all .5s;
    opacity: 0;
    transform: translateX(20px);
}

#skills{
    display: flex;
    gap: -20%;
}

.skill{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #7982AD;
    opacity: 0;
    transition: all .5s;
    transform: translateY(-20px);

}

.skill > img{
    width: 60%;
}

.work{
    background-color: #FAFBFD;
    transition: transform .7s;
    display: flex;
    flex-direction: column;
    border: solid #7982AD4D 1px;
    width: 620px;
    height: 380px;
    border-radius: 15px;

    transform: translateY(-400px);
    z-index: 0;
}

.work.active{
    border: solid #3D74E0 5px;
}


.work > img{
    /* width: 100%; */
    /* height: 100%; */
}

#works-ul{
    position: relative;
    display: flex;
    gap: 248px;
    overflow: hidden;
    padding: 0;
}

#works{
    display: flex;
    justify-content: center;
    align-items: right;
    text-align: left;
}

#works section{
    margin-left: 30%;
}

#items{
    display: flex;
    gap: 5%;
    align-items: center;
}

.item{
    font-size: 20px;
    color: #7982AD;
    font-weight: 200;
}

.item.active{
    content: '';
    text-decoration: underline #3D74E0 3px;
    color: #3D74E0;
    font-weight: 900;
}

#arrows::before{
    content: '';
    position: absolute;
    text-align: right;
    background: #FAFBFD;
    /* background: red; */
    right: 80%;

    filter: blur(6px);
    width: 40px;
    height: 57px;

}

#arrows{
    background-color: #FAFBFD;
    cursor: pointer;
}

#contact p{
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
}

.vector3{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

#des{
    color: #7982AD
}
#contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact article{
    display: flex;
    gap: 20px;
    flex-direction: column;
    background: #F6F9FC;
    border-radius: 8px;
    padding: 100px;
    border: 1px #ddd solid;
}

#contact article>a {
    background-color: #B4C9F3;
    color: #7982AD;
    padding: 16px 48px;
    border-radius: 5px;
    text-decoration: none;
}

#contact article:hover>a{

}



#contact{
    --right: 10%;
    --left: 30%
}

#contact h1{
    position: absolute;
    right: var(--right);
    bottom: 50%;
    margin-bottom: 50px;
}

#contact #line{
    
    position: absolute;
    right: var(--right);
    bottom: 50%;
    background: linear-gradient(270deg, #7982AD 0%, #B4C9F3 100%);
    padding-left: var(--left);
    margin-bottom: 50px;
    height: 5px;
    border-radius: 10px;

}

#contact h2{
    position: absolute;
    color: #0F1F6C;
    font-weight: 200;
    right: var(--right);
    bottom: 50%;
}